image: node:latest

# Pipeline
stages:
  - install
  - build
  - test
  - deploy

#define public environment variables
variables:
  npm_config_cache: "$CI_PROJECT_DIR/.npm"
  CYPRESS_CACHE_FOLDER: "$CI_PROJECT_DIR/cache/Cypress"

cache:
  key:
    files:
      - package.json
  paths:
    - .npm
    - cache/Cypress
    - node_modules
    - build

# Jobs
install_dependencies:
  stage: install
  script:
    - npm ci --cache .npm --prefer-offline

bundle_app:
  stage: build
  script:
    - npm run build

build_jobX:
  stage: build
  script:
    - echo "build job X on demoBranch works"

e2e_test:
  # Node docker image with Cypress and Chrome pre-installed
  stage: test
  image: cypress/browsers:node16.13.0-chrome95-ff94
  only:
    - main
  script:
    - echo "Run e2e tests in headless mode"
    - npx serve -s ./build  -l 3000  &
    - npx cypress run --browser chrome

component_test:
  stage: test
  image: cypress/browsers:latest
  only:
    - main
  script:
    - echo "Run cypress component tests in headless mode"
    - npm install
    - npm run cypress:components

auto_deploy:
  stage: deploy
  only:
    - main
  script:
    - npm install -g gh-pages
    - echo "Deploying to GitHub Pages"
    - git config --global user.email "20104636@mail.wit.ie"
    - git config --global user.name "Shijin Zhang"
    - gh-pages -d build -r https://${GH_TOKEN}@github.com/Dovis01/Agile-Assignment1-ReactMovie.git
  environment:
    name: production
    url: https://dovis01.github.io/Agile-Assignment1-ReactMovie
